body {
    background-color: #ffc28c;
    font-family: Arial, Helvetica, sans-serif;
    color: #300505;
}
h1 {color: #5e0b09;}
h2 {color: #890F0D;}
h3 {color: #8a3634;}
a {color: #8D0C0C;}
a:hover {color: #fc8e8e;}
nav {background-color: #5e0b09;}
nav a {color:#ffd4b8;}
nav a:hover {color: #fd9956;}
nav {padding: 10px solid #000000;
    margin-bottom: 30px;
    }
.tnh1, .tnh2 {
    display:flex; 
    padding: 20px;
    flex-wrap: wrap;
}
.img, .imgcenter {
    max-width: 100%;
}
.tnh1 div, .tnh2 div {
    flex: 1; 
   margin: 30px;
}
.tnhcol2 {
    overflow: auto;
}


@media only screen and (max-width: 800px) {
    nav {font-size: 1.5em;}
    nav a {size: 100%; display: block; margin-top: 40px;}
    nav a span {display: none;}
    .tnh1, .tnh2 {display: block;}
    .tree, .hist {display: block;}
    }

#skip {
    position: absolute;
    left: -999px;
    background-color: #890F0D;
    padding: 5px;
    }
#skip:focus {
    left: 10px;
    }
table, td, th {border: 1px solid black;
padding: 10px;}
th {background-color: #d9f4ff;}

.center, .center1 {
    display: flex;
    justify-content: center;
}
.heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.banner {
    max-width: 100%;
}
@media only screen and (max-width: 600px) {
    .banner {display:none;}
}
.hist, .tree {
    display:flex; 
    padding: 20px;
    flex-wrap: wrap;
}

.hist div, .tree div {
    flex: 1; 
    margin: 10px;
}
.imgcenter {
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.img1 {
    max-width: 100%;
}
@media only screen and (max-width: 800px) {
    .tree, .hist {display: block;}
    }

.countbox {display:flex; 
    justify-content: space-between; 
    flex-wrap: wrap;
}
.count {padding: 30px; 
    background-color: #ffdab9; 
    border-radius: 1em;}
.info {
    display: flex;
    flex: 3;
    margin: 20px;
    }
.count {order: 2;}
.info {order: 1;}

#count {
    font-weight: bolder;
    font-family: 'Lobster', cursive;
}
#countdown {
    text-align: center;
    border: 3px solid #8a3634;
    padding: 10px;
    font-family: 'Overpass Mono', monospace;
    font-size: 20px;
}
@media only screen and (max-width: 600px) {
    .countbox {display: block;}
}