body {
    background-color: #ffc28c;
    font-family: Arial, Helvetica, sans-serif;
    color: #300505;
}
h1 {color: #5e0b09;}
h2 {color: #890F0D;}
h3 {color: #8a3634;}
a {color: #8D0C0C;}
a:hover {color: #fc8e8e;}
nav {background-color: #5e0b09;}
nav a {color:#ffd4b8;}
nav a:hover {color: #fd9956;}
nav {padding: 10px solid #000000;
    margin-bottom: 30px;
    }
.tnh1, .tnh2 {
    display:flex; 
    padding: 20px;
    flex-wrap: wrap;
}
.tnh1 div, .tnh2 div {
    flex: 1; 
   margin: 30px;
}

@media only screen and (max-width: 800px) {
    nav {font-size: 1.5em;}
    nav a {size: 100%; display: block; margin-top: 40px;}
    nav a span {display: none;}
    .imgcenter {max-width: 100%;}
    }

#skip {
    position: absolute;
    left: -999px;
    background-color: #890F0D;
    padding: 5px;
    }
#skip:focus {
    left: 10px;
    }
table, td, th {border: 1px solid black;
padding: 10px;}
th {background-color: #d9f4ff;}

.center, .center1 {
    display: flex;
    justify-content: center;
}
.heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.banner {
    max-width: 100%;
}
@media only screen and (max-width: 600px) {
    .banner {display:none;}
}
.hist, .tree {
    display:flex; 
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hist div, .tree div {
    flex: 1; 
    margin: 10px;
}
.imgcenter {
    display: block;
  margin-left: auto;
  margin-right: auto;
}