h1, h2 {color: #890F0D;}
body {background-color: #FFBC80;
    color: #F76E11;}
a {color: #EF4B4B;}
a:hover {color: #fc8e8e;}
nav {background-color: #890F0D;}
nav a {color:#fc8e8e;}
nav a:hover {color: #fd9956;}
nav {padding: 10px solid #000000;
    margin-bottom: 30px;
    }