h1, h2 {color: #630606;}
body {background-color: #FFBC80;
color: #F76E11;}
a {color: #EF4B4B;}
a:hover {color: #D9CE3F;}
nav {background-color: #630606;}
nav a {color: #E83A14;}
nav a:hover {background-color: #D9CE3F;}
