h1, h2 {color: #890F0D;}
body {background-color: #FFBC80;
    color: #F76E11;}
a {color: #EF4B4B;}
a:hover {color: #fc8e8e;}
nav {background-color: #890F0D;}
nav a {color:#fc8e8e;}
nav a:hover {color: #fd9956;}
nav {padding: 10px solid #000000;
    margin-bottom: 30px;
    }
.quote {float: right;}
.clear {clear: both;}
.row1 {margin-bottom: 30px;}
.row2 {margin-bottom: 30px;}
.row1, .row2 {display: flex; padding: 20px; background-color: #ffdab9; border-radius: 1em;}
.row1 div {flex: 1; margin: 10px;}
.row2 div {margin: 10px;}
.map {flex: 1; order: 2;}
.form {flex: 1; order: 1;}
